.applyBtn {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    background-color: $theme1;
    padding: 4px 18px;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: lighten($theme1, 6);
        color: $white;
    }
    &:active {
        background-color: lighten($theme1, 6) !important;
        color: $white !important;
    }
}
