.applyBtn {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    background-color: $theme1;
    padding: 4px 18px;
    border: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: lighten($theme1, 6);
        color: $white;
    }
    &:active {
        background-color: lighten($theme1, 6) !important;
        color: $white !important;
    }
}


@include media-breakpoint(basic) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}

@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {
    .applyBtn {
        font-size: 12px;
        &:hover {
        }
        &:active {
        }
    }
}