.applyBtn {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    background-color: $theme1;
    padding: 4px 18px;
    &:hover {
        background-color: lighten($theme1, 6);
        color: $white;
    }
}