.clickHereBtn{
    background-color: $white;
    padding: 5px 10px;
    font-size: 10px;
    color: $black;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom-left-radius:10px ;
    border-top-right-radius:10px ;

}
.themeBtn{
    // background-color: $theme1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    // padding: 5px 15px;
    transition: all 0.3s ease-in-out;
    color: $white;
    &:hover{
        & .icon{
            transform: translateX(5px);
        }

    }
    & .icon{
        width: 14px;
        height: 14px;
        transition: all 0.3s ease-in-out;

    }
}

@include media-breakpoint-down(md) {
    .themeBtn{
font-size: 14px;
        &:hover{
            & .icon{
              
            }
    
        }
        & .icon{
 
    
        }
    }
}

@include media-breakpoint-down(sm) {
    .themeBtn{

        &:hover{
            & .icon{
              
            }
    
        }
        & .icon{
 
    
        }
    }
}

.addCartBtn{

    height: 40px;
    line-height: 40px;
    background-color: #f8f8f8;
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    border-radius:0px 5px 5px 0px;
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
    vertical-align: top;
    // transform: translateX(-60px);
    transition: all .4s ease-in-out;
    opacity: 0;
    width: 100%;
    // min-width: 136px;
    letter-spacing: .06em;
    z-index: 999;
    &:hover{
        background-color: $theme1;
        color: $white;
    }

}

@include media-breakpoint-down(md) {
    .addCartBtn{
        opacity: 1;
        transform: translate(0);
        z-index: 999999;
        color: $white;
        background-color: $theme1;
        &:hover{
           
        }
    
    }
}

@include media-breakpoint-down(sm) {
    .addCartBtn{
        height: 31px;
        line-height: 31px;
        &:hover{
           
        }
    
    }
}

 .hearticon{
    position: absolute;
    right: 1px;
    top: 1px;
    transition: all .5s ease-in;
    background-color: $theme1;
    height: 35px;
    width: 35px;
    padding: 10px;
    border-radius: 5px;
    border-radius: 5px 0px 0px 5px;
    z-index: 555;

    & img{
    transition: all .5s ease-in-out;
    filter: invert(1);

    }

}

@include media-breakpoint-down(sm) {
    .hearticon{
        height: 30px;
        width: 31px;
        padding: 8px;
    
        & img{
        
    
        }
    
    }
}

.addBtnCard{
    
    height: 40px;
    line-height: 40px;
    // background-color: #f8f8f8;
    background-color:$black;
    color: $white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    border-radius:0px 5px 5px 0px;
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
    vertical-align: top;
    transition: all .4s ease-in-out;
    // width: 100%;
    letter-spacing: .06em;
    z-index: 999;
    &:hover{
     background-color:lighten($theme1, 5);
    }
    &.addBtnCard2{
        background-color: lighten($black, 90);
        transition: all 0.3s ease-in-out;
        color: $black;
        &:hover{
            background-color:lighten($theme1, 5);
            color: $white;
        }
    }
}