::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba($black, 0);
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 2px;
    background-color: rgba($black, 0);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:lighten($black, 70);
  }

body {
  font-family: 'Inter', sans-serif;
}
.main {
  padding: 0 30px;
  // transform: translate(0 , 0);
}
.pagedetail {
  & .pagename {
    font-size: 14px;
    font-weight: 600;
    // color: $theme1;
    padding: 0;
    &::before {
      display: none;
    }
    & a {
      color: $theme1;
      padding-right: 20px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 11px;
        width: 8px;
        border-radius: 50%;
        right:6px;
        background: url(../img/right.svg) no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    &.activepage {
      color: lighten($black, 60);
      // padding-left: 20px;
      line-height: normal;
      &::before {
        display: none;
      }
    }
  }
}

// whatsapp button 
.whatsappbutton {
  height: 45px;
  width: 45px;
  right: 20px;
  bottom: 20px;
  z-index: 10;
}

.formCheckWrapper{
  & .formCheckInp{
      width: 20px;
      height: 20px;
      border: 1px solid $dark !important;
      cursor: pointer;
      &:focus{
          box-shadow: unset;
      }
      &:checked{
          background-color: $theme1;
          border-color: $theme1 !important;
      }
  }
  & .formCheckLbl{
      font-size: 13px;
      color: $dark;
      cursor: pointer;
  }
}
@include media-breakpoint(basic) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}

@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {
  
}

@include media-breakpoint-down(lg) {
  .main {
    padding: 0 20px;
  }
}

@include media-breakpoint-down(md) {
  .main {
    padding: 0 10px;
  }
}

@include media-breakpoint-down(sm) {
  .main {
    padding: 0px;
  }
  .pagedetail {
    & .pagename {
      font-size: 13px;
      & a {
        padding-right: 20px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: 11px;
          width: 7px;
          border-radius: 50%;
          right:6px;
          background: url(../img/right.svg) no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
      &.activepage {
        &::before {
        }
      }
    }
  }
}