// Hero Section start
.heroSection{
    transform: translate(0,0);
    height: calc(100vh - 201px);
    & .mySwiper3{
        height: 100%;
        width: 100%;
        z-index: 8;
        border-radius: 10px !important;
        transition: all 0.3s ease-in-out;
        &:hover{
            & .swiper-button-prev{
                opacity:1;
            }
            & .swiper-button-next{
                opacity:1;
            }
        }
        & .swiper-wrapper{
                // height: 430px;
            & .swiper-slide{
                background-size: cover;
                background-position: center;
                position: relative;
                border-radius: 10px !important;
                &::before{
                    background-color: transparent;
                    background-image: linear-gradient(180deg,#FFFFFF00 0%,#1F2400 100%);
                    mix-blend-mode: hard-light;
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    
                }
                & .img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    position: relative;
                    &::before{
                        background-color: transparent;
                        background-image: linear-gradient(180deg,#FFFFFF00 0%,#1F2400 100%);
                        mix-blend-mode: multiply;
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                    }
                }
                .heroContent{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 116px;
                    transform: translateY(-50%);
                    height: 100%;
                    width: 100%;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    & .heroTitle{
                        font-size: 51px;
                        line-height: 57px;
                        color: $white;
                        
                    }
                    & .pera-text{
                        font-size: 12px;
                        color: $white;
                        
                    }
                    & .heroPera{
                        font-size: 16px;
                        color: $white;
                    }
                }
            }
        }
        & .swiper-button-next{
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background: rgba(0,0,0,0.1);
            padding: 18px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            & img{
                filter: invert(1);
            }
            &::after{
                display: none;
            }
        }
        & .swiper-button-prev{
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background: rgba(0,0,0,0.1);
            padding: 18px;
            opacity: 0;
            transition:all 0.3s ease-in-out;
            & img{
                filter: invert(1);
            }
            &::after{
                display: none;
            }
        }
    }
    & .swiper-slide {

        & .pera-text ,& .heroTitle {
            animation-name: fade-in;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: both;
        }
        & .heroPera {
            animation-name: fade-in;
            animation-duration: 2s;
            animation-delay: 2s;
            animation-fill-mode: both;
        }

      .themeBtn{
            animation-name: fade-in;
            animation-duration: 2.5s;
            animation-delay: 2.5s;
            animation-fill-mode: both;
        }
        &.swiper-slide-active {
            @keyframes fade-in {
                from {
                    opacity: 0;
                    transform: translateY(20px);
                }
            
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
    & .heroCard{
        border-bottom: 3px solid rgb(167, 197, 243) !important;
        &.heroCard2{
        border-bottom: 3px solid rgb(252, 234, 181) !important;
        }
        &.heroCard3{
         border-bottom: 3px solid rgb(255, 198, 204) !important;
         }
             & .cardContent{
                 & .cardIocn{
                     width: 45px;
                     height: 37px;
                 }
                 & .cardHeading{
                     font-size: 16px;
                     line-height: 19px;
                     color: $theme1;
                     transition: all 0.3s ease-in-out;
                     display: -webkit-box;
                     -webkit-line-clamp: 2;
                     -webkit-box-orient: vertical;
                     overflow: hidden;
                     text-overflow: ellipsis;
                 }
                 & .cardPera{
                     font-size: 10px;
                     letter-spacing: 1px;
                     color: $theme1;
                     opacity: 0.8;
                     display: -webkit-box;
                     -webkit-line-clamp: 1;
                     -webkit-box-orient: vertical;
                     overflow: hidden;
                     text-overflow: ellipsis;
                 }
                 & .iconarrow{
                     width: 15px;
                     height: 15px;
                 }
             }
        }
}
//  price section 
.priceSection{
    font-size: 18px;
    font-weight: 500;
    color: $black;
    & .oldprice{
        font-size: 13px;
        color: $red;
    }
    & .textheading{
        font-size: 13px;
        color: lighten($black ,40);
        font-weight: 400;
    }
}


@include media-breakpoint(basic) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {
    .heroSection{
            & .mySwiper3{
                &:hover{
                    & .swiper-button-prev{
                
                    }
                    & .swiper-button-next{
          
                    }
                }
                & .swiper-wrapper{
                    & .swiper-slide{
           
                        &::before{
            
                            
                        }
                        & .img{
   
                            &::before{
              
                            }
                        }
                        .heroContent{
                
                            & .heroTitle{

                                
                            }
                            & .pera-text{
                   
                                
                            }
                            & .heroPera{
                           
                            }
                        }
                    }
                }
                & .swiper-button-next{
       
                    & img{
                      
                    }
                    &::after{
                     
                    }
                }
                & .swiper-button-prev{
       
                    & img{
          
                    }
                    &::after{
      
                    }
                }
            }
            & .swiper-slide {
        
                & .pera-text ,& .heroTitle {
        
                }
                & .heroPera {
     
                }
        
              .themeBtn{
     
                }
            }
        
            & .heroCard{
      
           &.heroCard2{
    
           }
           &.heroCard3{
        
            }
                & .cardContent{
                    & .cardIocn{
    
                    }
                    & .cardHeading{

                    }
                    & .cardPera{
     
                    }
                    & .iconarrow{
          
                    }
                }
            }
            
    }
}

@include media-breakpoint-down(xl) {
    .heroSection{
        & .mySwiper3{
            &:hover{
                & .swiper-button-prev{
            
                }
                & .swiper-button-next{
      
                }
            }
            & .swiper-wrapper{
                height: 420px;

                & .swiper-slide{
       
                    &::before{
        
                        
                    }
                    & .img{

                        &::before{
          
                        }
                    }
                    .heroContent{
            
                        & .heroTitle{
                            font-size: 42px;
                            line-height: 51px;
                            
                        }
                        & .pera-text{
               
                            
                        }
                        & .heroPera{
                       
                        }
                    }
                }
            }
            & .swiper-button-next{
   
                & img{
                    filter: invert(1);
                }
                &::after{
                 
                }
            }
            & .swiper-button-prev{
   
                & img{
      
                }
                &::after{
  
                }
            }
        }
        & .swiper-slide {
    
            & .pera-text ,& .heroTitle {
    
            }
            & .heroPera {
 
            }
    
          .themeBtn{
 
            }
        }
    
        & .heroCard{
  
       &.heroCard2{

       }
       &.heroCard3{
    
        }
            & .cardContent{
                & .cardIocn{

                }
                & .cardHeading{

                }
                & .cardPera{
 
                }
                & .iconarrow{
      
                }
            }
        }
        
    }
}

@include media-breakpoint-down(lg) {
    .heroSection{
        & .mySwiper3{
            &:hover{
                & .swiper-button-prev{
            
                }
                & .swiper-button-next{
      
                }
            }
            & .swiper-wrapper{
                height: 360px;

                & .swiper-slide{
       
                    &::before{
        
                        
                    }
                    & .img{

                        &::before{
          
                        }
                    }
                    .heroContent{
            
                        & .heroTitle{
                            font-size: 36px;
                            line-height: 44px;
                            
                        }
                        & .pera-text{
               
                            
                        }
                        & .heroPera{
                            font-size: 15px;
                        }
                    }
                }
            }
            & .swiper-button-next{
                width: 65px;
                height: 65px;
                & img{
                    filter: invert(1);
                }
                &::after{
                 
                }
            }
            & .swiper-button-prev{
                width: 66px;
                height: 65px;
                & img{
      
                }
                &::after{
  
                }
            }
        }
        & .swiper-slide {
    
            & .pera-text ,& .heroTitle {
    
            }
            & .heroPera {
 
            }
    
          .themeBtn{
 
            }
        }
    
        & .heroCard{
  
       &.heroCard2{

       }
       &.heroCard3{
    
        }
            & .cardContent{
                & .cardIocn{
                    width: 35px;
                    height: 31px;
                }
                & .cardHeading{
                    font-size: 13px;
                    line-height: 16px;
                }
                & .cardPera{
 
                }
                & .iconarrow{
      
                }
            }
        }
        
    }
}

@include media-breakpoint-down(md) {
    .heroSection{
        & .mySwiper3{
            &:hover{
                & .swiper-button-prev{
            
                }
                & .swiper-button-next{
      
                }
            }
            & .swiper-wrapper{
                & .swiper-slide{
       
                    &::before{
        
                        
                    }
                    & .img{

                        &::before{
          
                        }
                    }
                    .heroContent{
                        width: 75% !important;
                        left: 90px;
                        & .heroTitle{
                            font-size: 32px;
                            line-height: 39px;
                            
                        }
                        & .pera-text{
                            
                        }
                        & .heroPera{
                       
                        }
                    }
                }
            }
            & .swiper-button-next{
                opacity: 1;
                width: 50px;
                height: 50px;
                padding: 10px;
                & img{
                    filter: invert(1);
                }
                &::after{
                 
                }
            }
            & .swiper-button-prev{
                opacity: 1;
                width: 50px;
                height: 50px;
                padding: 10px;
                & img{
      
                }
                &::after{
  
                }
            }
        }
        & .swiper-slide {
    
            & .pera-text ,& .heroTitle {
    
            }
            & .heroPera {
 
            }
    
          .themeBtn{
 
            }
        }
    
        & .heroCard{
           & .card-body{
            padding: 10px !important;
           }
       &.heroCard2{

       }
       &.heroCard3{
    
        }
            & .cardContent{
                & .cardIocn{

                }
                & .cardHeading{

                }
                & .cardPera{
 
                }
                & .iconarrow{
                    width: 10px;
                    height: 10px;
                }
            }
        }
        
    }
}

@include media-breakpoint-down(sm) {
    .heroSection{
        & .mySwiper3{
            &:hover{
                & .swiper-button-prev{
            
                }
                & .swiper-button-next{
      
                }
            }
            & .swiper-wrapper{
                & .swiper-slide{
       
                    &::before{
        
                        
                    }
                    & .img{

                        &::before{
          
                        }
                    }
                    .heroContent{
                        left: 50px;
                        & .heroTitle{
                            font-size: 28px;
                            line-height: 36px;
                            
                        }
                        & .pera-text{
               
                            
                        }
                        & .heroPera{
                       
                        }
                    }
                }
            }
            & .swiper-button-next{
                display: none;
                & img{
                    filter: invert(1);
                }
                &::after{
                 
                }
            }
            & .swiper-button-prev{
                display: none;
                & img{
      
                }
                &::after{
  
                }
            }
        }
        & .swiper-slide {
    
            & .pera-text ,& .heroTitle {
    
            }
            & .heroPera {
 
            }
    
          .themeBtn{
 
            }
        }
    
        & .heroCard{
  
       &.heroCard2{

       }
       &.heroCard3{
    
        }
            & .cardContent{
                & .cardIocn{

                }
                & .cardHeading{
                    font-size: 13px;
                    line-height: 16px;
                }
                & .cardPera{
                    font-size: 8px;
                }
                & .iconarrow{
      
                }
            }
        }
        
    }
}

// hero card 

.heroseCtionCard{
    & .heroCard{
        border-bottom: 3px solid rgb(167, 197, 243) !important;
        &.heroCard2{
        border-bottom: 3px solid rgb(252, 234, 181) !important;
        }
        &.heroCard3{
         border-bottom: 3px solid rgb(255, 198, 204) !important;
         }
             & .cardContent{
                 & .cardIocn{
                     width: 45px;
                     height: 37px;
                 }
                 & .cardHeading{
                     font-size: 16px;
                     line-height: 19px;
                     color: $theme1;
                     transition: all 0.3s ease-in-out;
                     display: -webkit-box;
                     -webkit-line-clamp: 2;
                     -webkit-box-orient: vertical;
                     overflow: hidden;
                     text-overflow: ellipsis;
                 }
                 & .cardPera{
                     font-size: 10px;
                     letter-spacing: 1px;
                     color: $theme1;
                     opacity: 0.8;
                     display: -webkit-box;
                     -webkit-line-clamp: 1;
                     -webkit-box-orient: vertical;
                     overflow: hidden;
                     text-overflow: ellipsis;
                 }
                 & .iconarrow{
                     width: 15px;
                     height: 15px;
                 }
             }
         }
}

@include media-breakpoint(basic) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}

@include media-breakpoint-down(xxl) {
    .heroseCtionCard{
        & .heroCard{
          
            &.heroCard2{
     
            }
            &.heroCard3{
         
             }
                 & .cardContent{
                     & .cardIocn{
     
                     }
                     & .cardHeading{
    
                     }
                     & .cardPera{
      
                     }
                     & .iconarrow{
           
                     }
                 }
        }

    }
}

@include media-breakpoint-down(xl) {
    .heroseCtionCard{
        & .heroCard{
      
            &.heroCard2{
     
            }
            &.heroCard3{
         
             }
                 & .cardContent{
                     & .cardIocn{
     
                     }
                     & .cardHeading{
     
                     }
                     & .cardPera{
      
                     }
                     & .iconarrow{
           
                     }
                 }
        }

    }
}

@include media-breakpoint-down(lg) {
    .heroseCtionCard{
        & .heroCard{
      
            &.heroCard2{
     
            }
            &.heroCard3{
         
             }
                 & .cardContent{
                     & .cardIocn{
                         width: 35px;
                         height: 31px;
                     }
                     & .cardHeading{
                         font-size: 13px;
                         line-height: 16px;
                     }
                     & .cardPera{
      
                     }
                     & .iconarrow{
           
                     }
                 }
             }

    }
}

@include media-breakpoint-down(md) {
    .heroseCtionCard{

        & .heroCard{
            & .card-body{
             padding: 10px !important;
            }
        &.heroCard2{
    
        }
        &.heroCard3{
     
         }
             & .cardContent{
                 & .cardIocn{
    
                 }
                 & .cardHeading{
    
                 }
                 & .cardPera{
    
                 }
                 & .iconarrow{
                     width: 10px;
                     height: 10px;
                 }
             }
         }
    }
}

@include media-breakpoint-down(sm) {
    .heroseCtionCard{
        & .heroCard{
      
            &.heroCard2{
     
            }
            &.heroCard3{
         
             }
                 & .cardContent{
                     & .cardIocn{
     
                     }
                     & .cardHeading{
                         font-size: 13px;
                         line-height: 16px;
                     }
                     & .cardPera{
                         font-size: 8px;
                     }
                     & .iconarrow{
           
                     }
                 }
             }

    }
      
}


// dealSection start 
.dealSection{
    & .mainCard{
        border: 2px solid $theme1;
        border-radius: 10px;
        padding: 30px;
        position: relative;
        // margin-left: 20px;
        transition: all 0.3s ease-in-out;
        &:hover{
            & .navBtn2{
                & .navBtn{
                    opacity: 1;
                    visibility: visible;

                }
            }
        }
        & .counterImg{
            // width: 60px;
            height: 60px;
        }
        & .counterHeading{
            font-size: 25px;
            line-height: 30px;
            font-weight: 600;
            color: $theme1;
        }
        & .counterWatch{
            font-size: 20px;
            font-weight: 600 !important;
            color: $theme1;
            position: relative;
            &::before{
                content: '';
                height: 31px;
                width: 2px;
                background-color: $theme1;
                position: absolute;
                top: 0px;
                left: -13px;
            }
            & .smallheading{
                font-size: 14px;
                color: $theme1;
            }
        }
        & .seeAllBtn{
            font-size: 16px;
            color: $theme1;
            font-weight: 300;
        }
        & .navBtn2{
            // opacity: 0;
            // visibility: hidden;
            // position: absolute;
            // top:50%;
            // transform: translateY(-50%);
            // z-index: 11;
            // width: 100%;
            // transition: all 0.3s ease-in-out;
            & .navBtn{
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                z-index: 11;
                width: 100%;
                transition: all 0.3s ease-in-out;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                // background-color: $white;
                padding: 10px;
                background: #f6f8f9;
                box-shadow: 0px 2.18667px 9.29333px rgba(0,0,0,.13);
                transition: all 0.3s ease-in-out;
                &:hover{

                    &.navPrev{
                        background-color: $theme1;
                        & img{
                            filter: invert(1);
                        }
                    }
                    &.navNext{
                        background-color: $theme1;
                        & img{
                            filter: invert(1);
                        }
                    }
                }
                &.navPrev{
                    // opacity: 0;
                    // visibility: hidden;
                    position: absolute;
                    top:50%;
                    transform: translateY(-50%);
                    z-index: 11;
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    // background-color: $white;
                    padding: 10px;
                    background: #f6f8f9;
                    box-shadow: 0px 2.18667px 9.29333px rgba(0,0,0,.13);
                    transition: all 0.3s ease-in-out;
                    display: flex !important;
                    margin-left: -53px;
                    transition: all 0.3s ease-in-out;
                    & img{
                        transition: all 0.3s ease-in-out;
                    }
                }
                &.navNext{
                    display: flex !important;
                    right: -30px;
                    transition: all 0.3s ease-in-out;
                    position: absolute;
                    top:50%;
                    transform: translateY(-50%);
                    z-index: 11;
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    // background-color: $white;
                    padding: 10px;
                    background: #f6f8f9;
                    box-shadow: 0px 2.18667px 9.29333px rgba(0,0,0,.13);
                    transition: all 0.3s ease-in-out;
                    display: flex !important;
                    margin-left: -53px;
                    transition: all 0.3s ease-in-out;
                    & img{
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

        }

    }
    & .sideNav{
        background-color: #f4fafa;
        padding: 30px;
        border-radius: 10px;
        & .sideNavheading{
            font-size: 25px;
            line-height: 35px;
            color: $black;
            font-weight: 700;
        }
        & .orderProcess{
          
            & .number{
                height: 45px;
                width: 45px;
                border-radius: 50%;
                border: 2px solid $black;
                font-size: 18px;
                color:$black;
                font-weight: 400;
                background-color: #f4fafa;

                position: relative;
                &.borderDoted{
                    &::after{
                        height: 28px;
                        width: 2px;
                        content: '';
                        background: url(../img/index/border-img.svg) center repeat;
                        position: absolute;
                        top: 43px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                }
              
            }
            & .orderHeading{
                font-size: 14px;
                font-weight: 600;
                color: $black;
                margin-bottom: 2px;
            }
            & .orderPera{
                font-size: 12px;
                color: #959fae;
            }
        }
        & .innerHeading{
            font-size: 16px;
            color: $theme1;
            font-weight: 600;
        }
        & .pera{
            color: #959fae;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 0;
        }
    }
}

.productCard{
    // border-radius: 10px;

    // border: 1px solid $black;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0,0,0,.19), 0 0px 1px rgba(0,0,0,.23);
    &:hover{
        & .cardIMg{
            transform: scale(1.1);
            
        }
        & .addCartBtn{
            transform: translate(0);
            opacity: 1;
        }
        & .addCard{
        overflow: hidden;
            & .heartImg{
                visibility: visible;
                opacity: 1;
                transform: translate(0) !important;
            }
        }
        & .cardContent{
            & .cardheading{
                color: $theme1;
        
            }

        }
    }
    & .offerBuddge{
    

        display: inline-block;
        vertical-align: top;
        color: #2b97a3;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        height: 20px;
        left: 2px;
        top: 2px;
        background-color: #d5eaed;
        border-radius: 2px;
        position: absolute;
        right: auto;
        padding: 0 13px;
    }
    & .cardIMg{
      & img{
        aspect-ratio: 4/3;
        object-fit: contain;
      }
        transition: all 0.5s ease-in-out;
    }
    & .cardContent{
        padding: 20px;

        & .cardSubheading{
            font-size: 12px;
            color: #959fae;
            transition: all 0.3 ease-in-out ;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover{
                color: $theme1;
            }
        }
        & .cardheading{
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: $black;
            transition: all 0.3S ease-in-out;
            display: -webkit-box !important;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        
        }
        & .priceSection{
            font-size: 18px;
            font-weight: 500;
            color: $black;
            & .oldprice{
                font-size: 13px;
                color: $red;
            }
        }
    }
    & .addCard{
        z-index: 100;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .heartImg{
            transition: all .5s ease-in;
            opacity: 0;
            transform: translateX(60px);
            background-color: #f8f8f8;
            height: 40px;
            width: 40px;
            padding: 10px;
            border-radius: 5px;
            border-radius: 5px 0px 0px 5px;
            overflow: hidden;
            visibility: hidden;
            z-index: 999;

            & img{
            transition: all .5s ease-in-out;

            }
            &:hover{
                background-color: $theme1;
                & img{

                    filter: invert(1);
                }
            }
        }
    }
}

@include media-breakpoint(basic) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}

@include media-breakpoint-down(xxl) {
    .dealSection{
        & .mainCard{
   
            &:hover{
                & .navBtn2{
                    & .navBtn{
                    }
                }
            }
            & .counterImg{
            
            }
            & .counterHeading{
                font-size: 22px;
                line-height: 28px;
            }
            & .counterWatch{

                &::before{

                }
                & .smallheading{
        
                }
            }
            & .seeAllBtn{

            }
            & .navBtn2{

                & .navBtn{
      
                    &:hover{
    
                        &.navPrev{
                          
                            & img{
                          
                            }
                        }
                        &.navNext{
                         
                            & img{
                          
                            }
                        }
                    }
                    &.navPrev{
                 
                        & img{
                   
                        }
                    }
                    &.navNext{

                        & img{
                           
                        }
                    }
                }
    
            }
    
        }
        & .sideNav{

            & .sideNavheading{
                font-size: 21px;
                line-height: 29px;
            }
            & .orderProcess{
              
                & .number{
                    height: 40px;
                    width: 40px;
                    &.borderDoted{
                        &::after{
                        }
    
                    }
                  
                }
                & .orderHeading{
      
                }
                & .orderPera{
              
                }
            }
            & .innerHeading{
    
            }
            & .pera{
 
            }
        }
    }
    
    .productCard{

        &:hover{
            & .cardIMg{
            
            }
            & .addCartBtn{
               
            }
            & .addCard{
                top: 50%;
                & .heartImg{
             
                }
            }
            & .cardContent{
                & .cardheading{
             
                }
    
            }
        }
        & .offerBuddge{

        }
        & .cardIMg{
          & img{
    
          }
       
        }
        & .cardContent{
       
    
            & .cardSubheading{
      
                &:hover{
             
                }
            }
            & .cardheading{
                font-size: 14px;
                &:hover{
                    
                }
            }
            & .priceSection{

                & .oldprice{
        
                }
            }
        }
        & .addCard{

            & .heartImg{
    
    
                & img{
              
    
                }
                &:hover{
           
                    & img{

                 
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .dealSection{
        & .mainCard{
            padding: 19px;
            &:hover{
                & .navBtn2{
                    & .navBtn{
                    }
                }
            }
            & .counterImg{
            
            }
            & .counterHeading{
                font-size: 17px;
                line-height: 24px;
            }
            & .counterWatch{
                font-size: 17px;
                &::before{
                    top: -4px;
                }
                & .smallheading{
        
                }
            }
            & .seeAllBtn{

            }
            & .navBtn2{

                & .navBtn{
      
                    &:hover{
    
                        &.navPrev{
                          
                            & img{
                          
                            }
                        }
                        &.navNext{
                         
                            & img{
                          
                            }
                        }
                    }
                    &.navPrev{
                 
                        & img{
                   
                        }
                    }
                    &.navNext{

                        & img{
                           
                        }
                    }
                }
    
            }
    
        }
        & .sideNav{
            padding: 22px;
            & .sideNavheading{
                font-size: 17px;
                line-height: 23px;
            
            }
            & .orderProcess{
              
                & .number{
       
                    &.borderDoted{
                        &::after{
                        }
    
                    }
                  
                }
                & .orderHeading{
            font-size: 13px;

                }
                & .orderPera{
              
                }
            }
            & .innerHeading{
                font-size: 15px;
            }
            & .pera{
                font-size: 13px;
            }
        }
    }
    
    .productCard{

        &:hover{
            & .cardIMg{
            
            }
            & .addCartBtn{
               
            }
            & .addCard{
      
                & .heartImg{
             
                }
            }
            & .cardContent{
                & .cardheading{
                 
                }
    
            }
        }
        & .offerBuddge{

        }
        & .cardIMg{
          & img{
    
          }
       
        }
        & .cardContent{
       
    
            & .cardSubheading{
      
                &:hover{
             
                }
            }
            & .cardheading{
                font-size: 14px;
                &:hover{
                    
                }
            }
            & .priceSection{

                & .oldprice{
        
                }
            }
        }
        & .addCard{

            & .heartImg{
    
    
                & img{
              
    
                }
                &:hover{
           
                    & img{

                 
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .dealSection{
        & .mainCard{
   
            &:hover{
                & .navBtn2{
                    & .navBtn{
                    }
                }
            }
            & .counterImg{
                height: 44px;
            }
            & .counterHeading{

            }
            & .counterWatch{

                &::before{

                }
                & .smallheading{
        
                }
            }
            & .seeAllBtn{

            }
            & .navBtn2{

                & .navBtn{
                    &:hover{
    
                        &.navPrev{
                         
                            & img{
                          
                            }
                        }
                        &.navNext{
                            
                            & img{
                          
                            }
                        }
                    }
                    &.navPrev{
                        width: 40px;
                        height: 40px;
                        left:31px;
                        & img{
                   
                        }
                    }
                    &.navNext{
                        width: 40px;
                        height: 40px;
                        right: -23px;
                        & img{
                           
                        }
                    }
                }
    
            }
    
        }
        & .sideNav{

            & .sideNavheading{

            }
            & .orderProcess{
              
                & .number{
       
                    &.borderDoted{
                        &::after{
                        }
    
                    }
                  
                }
                & .orderHeading{
      
                }
                & .orderPera{
              
                }
            }
            & .innerHeading{
    
            }
            & .pera{
 
            }
        }
    }
    
    .productCard{
        &:hover{
            & .cardIMg{
            
            }
            & .addCartBtn{
               
            }
            & .addCard{
                // top: 60%;
                & .heartImg{
             
                }
            }
            & .cardContent{
                & .cardheading{
             
                }
    
            }
        }
        & .offerBuddge{

        }
        & .cardIMg{
          & img{
    
          }
       
        }
        & .cardContent{
       
    
            & .cardSubheading{
      
                &:hover{
             
                }
            }
            & .cardheading{
     
                &:hover{
                    
                }
            }
            & .priceSection{

                & .oldprice{
        
                }
            }
        }
        & .addCard{

            & .heartImg{
    
    
                & img{
              
    
                }
                &:hover{
           
                    & img{

                 
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .dealSection{
        & .mainCard{
   
            &:hover{
                & .navBtn2{
                    & .navBtn{
                    }
                }
            }
            & .counterImg{
            
            }
            & .counterHeading{
                font-size: 18px;
                line-height: 18px;
            }
            & .counterWatch{
                font-size: 14px;
                line-height: 19px;
                &::before{

                }
                & .smallheading{
        
                }
            }
            & .seeAllBtn{
                font-size: 12px;
            }
            & .navBtn2{
                display: none !important;
                & .navBtn{
                    display: none !important;
      
                    &:hover{
                        display: none;
    
                        &.navPrev{
                          
                            & img{
                          
                            }
                        }
                        &.navNext{
                         
                            & img{
                          
                            }
                        }
                    }
                    &.navPrev{
                display: none;
                 
                        & img{
                   
                        }
                    }
                    &.navNext{
                        display: none;

                        & img{
                           
                        }
                    }
                }
    
            }
    
        }
        & .sideNav{

            & .sideNavheading{

            }
            & .orderProcess{
              
                & .number{
       
                    &.borderDoted{
                        &::after{
                        }
    
                    }
                  
                }
                & .orderHeading{
      
                }
                & .orderPera{
              
                }
            }
            & .innerHeading{
    
            }
            & .pera{
 
            }
        }
    }
    
    .productCard{

        &:hover{
         
            & .cardIMg{
            transform: scale(1);
            }
            & .addCartBtn{
                opacity: 1;
                transform: translateX(0);
            }
            & .addCard{
                display: none;
            
                & .heartImg{
            opacity: 1;
            visibility: visible;
            transform: translateX(0);

                
                }
            }
            & .cardContent{
                & .cardheading{
                    color: $black;
                }
    
            }
        }
        & .offerBuddge{

        }
        & .cardIMg{
          & img{
            aspect-ratio: 4/3;
    
          }
       
        }
        & .cardContent{
       
    
            & .cardSubheading{
      
            }
            & .cardheading{
     
                &:hover{
                display: none;
                    
                }
            }
            & .priceSection{

                & .oldprice{
        
                }
            }
        }
        & .addCard{
            display: none;
            top: 100% !important;
            opacity: 1;
            visibility: visible;
            & .heartImg{
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
    
                & img{
              
    
                }
                &:hover{
           
                    & img{

                 
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .dealSection{
        & .mainCard{
            padding: 10px;
            &:hover{
                & .navBtn2{
                    & .navBtn{
                    }
                }
            }
            & .counterImg{
            
            }
            & .counterHeading{

            }
            & .counterWatch{

                &::before{
                display: none;
                }
                & .smallheading{
        
                }
            }
            & .seeAllBtn{

            }
            & .navBtn2{
                display: none !important;
                & .navBtn{
      
                    &:hover{
    
                        &.navPrev{
                          
                            & img{
                          
                            }
                        }
                        &.navNext{
                         
                            & img{
                          
                            }
                        }
                    }
                    &.navPrev{
                 
                        & img{
                   
                        }
                    }
                    &.navNext{

                        & img{
                           
                        }
                    }
                }
    
            }
    
        }
        & .sideNav{

            & .sideNavheading{

            }
            & .orderProcess{
              
                & .number{
       
                    &.borderDoted{
                        &::after{
                        }
    
                    }
                  
                }
                & .orderHeading{
      
                }
                & .orderPera{
              
                }
            }
            & .innerHeading{
    
            }
            & .pera{
 
            }
        }
    }
    
    .productCard{

        &:hover{
            & .cardIMg{
            
            }
            & .addCartBtn{
               
            }
            & .addCard{
      
                & .heartImg{
             
                }
            }
            & .cardContent{
                & .cardheading{
             
                }
    
            }
        }
        & .offerBuddge{

        }
        & .cardIMg{
          & img{
            // aspect-ratio: 4/2;
          }
       
        }
        & .cardContent{
       
    
            & .cardSubheading{
                font-size: 10px;
                &:hover{
             
                }
            }
            & .cardheading{
            font-size: 12px;
            line-height: 17px;
                &:hover{
                    
                }
            }
            & .priceSection{
                font-size: 14px;
                display: flex;
                flex-wrap: nowrap   ;
                & .oldprice{
        
                }
            }
        }
        & .addCard{
            top: 66% !important;
        

            & .heartImg{
    
    
                & img{
              
    
                }
                &:hover{
           
                    & img{

                 
                    }
                }
            }
        }
    }
}

// productDetailsPage section start 

.productDetailsPage{
    // height: calc(100vh - 100px);

    & .productSwiper{
        width: 100%;
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s ease-in-out;
        & .swiperSlider{
            background-size: cover;
            background-position: center;
            transition: all 0.3s ease-in-out;
            &:hover{
                & .productImg{
                    transform: scale(1.1);
                }
            }
            & .productImg{
                max-height: 250px;
                height: 100%;
                transition: all 0.3s ease-in-out;

                & img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            & .sale-off{
                position: absolute;
                z-index: 1;
                top: 10px;
                right: 10px;
                font-size: 11px;
                color: #fff;
                text-align: center;
                display: inline-block;
                padding: 1px 12px;
                line-height: 20px;
                background-color: $theme1;
            }
        }
    }
    & .secondSwiperproduct{
        height: 130px;
        padding: 10px 0;
        transition: all 0.3s ease-in-out;
  
        & .swiperSlider2{
            width: 25%;
            height: 100%;
            transition: all 0.3s ease-in-out;
            border: 1px solid transparent;
            border-radius: 8px;
            &:hover{
                border: 1px solid $black;

            }
            
        }
        & .productCardImg2{
            padding: 5px;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
    & .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
        border: 1px solid $theme1;
    }
    & .swiperNext{
        position: absolute;
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 50%;
        background: $white;
        box-shadow: 0px 2.18667px 9.29333px rgba(0,0,0,.13);
        top: 70px;
        right: -15px;
 
        &::after{
            display: none;
        }
        transition: all 0.3s ease-in-out;
        & img{
            transition: all 0.3s ease-in-out;
        }
        &:hover{
            background-color: $theme1;
            & img{
                filter: invert(1);
            }
        }

    }
    & .swiperPrev{
        position: absolute;
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 50%;
        background: $white;
        box-shadow: 0px 2.18667px 9.29333px rgba(0,0,0,.13);
        left: -15px;
        opacity: 1 !important;
        top: 70px;
        transition: all 0.3s ease-in-out;
        & img{
            transition: all 0.3s ease-in-out;
        }
        &::after{
            display: none;
        }
        &:hover{
            background-color: $theme1;
            & img{
                filter: invert(1);
            }
        }

    }

    & .productHeading{
        font-size: 30px;
        line-height: 40px;
        color: $black;
    }
    & .peraProduct{
        font-size: 14px;
        color: lighten($black, 70);
    }
    & .rating{
        & .staricon{
            width: 15px;
            height: 15px;
        }
    }
    & .review{
        font-size: 14px;
        color: $black;
    }
    & .quantity{
        & .quantityHeading{
            font-size: 12px;
            color: lighten($black, 70);
        }
        & .number{
            height:38px;
            & .minus{
                cursor: pointer;
                width:40px;
                height:100%;
                background:$theme1;
                // padding:6px 1px 6px 1px;
                text-align: center;
                transition: all 0.3s ease-in-out;
                color: $white;
                font-size: 12px;
                
            }
            & .numberInput{
                width:100px;
                height:100%;
                font-size: 12px;
            // border: 1px solid ;
              background-color: lighten($black,90);
            }
        }
    }   
    & .iconWish{
        width: 13px;
        height: 13px;
    }
    & .wishheading{
        font-size: 12px;
        line-height: 13px;
        color: $black;
        font-weight: 400;
    }
    & .bestPrice{
        background-color: lighten($danger, 55) !important;
        padding: 15px;
        & .newpriceHeading{
            font-size: 13px;
            color: $black;
            font-weight: 400;
            & .barBestPrice{
                font-size: 14px;
                color:#dd4679;
                font-weight: 600;
            }
        }
        & .cartCard{
            // width: 80px;
            padding: 8px;
            & .iconCart{
                width: 23px;
                height: 23px;
            }
            & .smallheadingcart{
                font-size: 7px;
                color: $black;
            }
            & .smallheading2{
                font-size: 12px;
                color: $black;
            }
        }
        & .peracart{
            font-size: 12px;
            color: $black;
            font-weight: 200;
        }
    }
    & .returnPera{
        font-size: 11px;
        color: lighten($black, 40);
        font-weight: 400;
    }
    & .flavourHeading{
        font-size: 13px;
        font-weight: 600;
        color: $black;
        & .subheadingFlavour{
            font-size: 12px;
            color: lighten($black, 40);
            font-weight: 400;
        }
    }
    & .form-check2 {
        padding-left: 10px;
    }
    .checkLabel2 {
        font-size: 12px;
        font-weight: 500;
        color: $black;
        border: 1px solid  lighten($black,90);
        padding: 7px 15px;
        background: lighten($black,90);
        transition: all 0.3s ease-in-out;
        // border-radius: 30px !important;
        cursor: pointer;
    }
    .checkbox:checked  ~ .checkLabel2 {
        border-color: $theme1;
        color: $white;
        background-color: $theme1;
        box-shadow: 0 0.5em 0.5em -0.6em $theme1;
        // transform: translateY(-0.25em);
    }
    & .membershipCardSection{
        border: 1px solid lighten($danger,50) !important;
        border-radius: 10px;
        & .membershipCard{
            & .imgCard{
                width: 61px;
                height: 61px;
            }
            & .headingMember{
                font-size: 16px;
                color: $black;
            }
            & .memberPera{
                font-size: 14px;
                color: lighten($black, 40);
            }
           
        }
        & .memberBtn{
            background: linear-gradient(93deg,#f85caa 1%,#f03479 102%),linear-gradient(to bottom,#161b39,#161b39);
            font-size: 14px;
            height: 38px;
            color: white;
        }
    }

}