// Hero Section start
.heroSection{
height: calc(100vh - 201px);
    & .mySwiper3{
        height: 100%;
        width: 100%;
        z-index: 8;
        border-radius: 10px !important;
        transition: all 0.3s ease-in-out;
        &:hover{
            & .swiper-button-prev{
                opacity:1;
            }
            & .swiper-button-next{
                opacity:1;
            }
        }
        & .swiper-wrapper{
                // height: 430px;
            & .swiper-slide{
                background-size: cover;
                background-position: center;
                position: relative;
                border-radius: 10px !important;
                &::before{
                    background-color: transparent;
                    background-image: linear-gradient(180deg,#FFFFFF00 0%,#1F2400 100%);
                    mix-blend-mode: hard-light;
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    
                }
                & .img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    position: relative;
                    &::before{
                        background-color: transparent;
                        background-image: linear-gradient(180deg,#FFFFFF00 0%,#1F2400 100%);
                        mix-blend-mode: multiply;
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                    }
                }
                .heroContent{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 116px;
                    transform: translateY(-50%);
                    height: 100%;
                    width: 100%;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    & .heroTitle{
                        font-size: 51px;
                        line-height: 57px;
                        color: $white;
                        
                    }
                    & .pera-text{
                        font-size: 12px;
                        color: $white;
                        
                    }
                    & .heroPera{
                        font-size: 16px;
                        color: $white;
                    }
                }
            }
        }
        & .swiper-button-next{
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background: rgba(0,0,0,0.1);
            padding: 18px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            & img{
                filter: invert(1);
            }
            &::after{
                display: none;
            }
        }
        & .swiper-button-prev{
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background: rgba(0,0,0,0.1);
            padding: 18px;
            opacity: 0;
            transition:all 0.3s ease-in-out;
            & img{
                filter: invert(1);
            }
            &::after{
                display: none;
            }
        }
    }
    & .swiper-slide {

        & .pera-text ,& .heroTitle {
            animation-name: fade-in;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: both;
        }
        & .heroPera {
            animation-name: fade-in;
            animation-duration: 2s;
            animation-delay: 2s;
            animation-fill-mode: both;
        }

      .themeBtn{
            animation-name: fade-in;
            animation-duration: 2.5s;
            animation-delay: 2.5s;
            animation-fill-mode: both;
        }
        &.swiper-slide-active {
            @keyframes fade-in {
                from {
                    opacity: 0;
                    transform: translateY(20px);
                }
            
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
    & .heroCard{
        border-bottom: 3px solid rgb(167, 197, 243) !important;
        &.heroCard2{
        border-bottom: 3px solid rgb(252, 234, 181) !important;
        }
        &.heroCard3{
         border-bottom: 3px solid rgb(255, 198, 204) !important;
         }
             & .cardContent{
                 & .cardIocn{
                     width: 45px;
                     height: 37px;
                 }
                 & .cardHeading{
                     font-size: 16px;
                     line-height: 19px;
                     color: $theme1;
                     transition: all 0.3s ease-in-out;
                     display: -webkit-box;
                     -webkit-line-clamp: 2;
                     -webkit-box-orient: vertical;
                     overflow: hidden;
                     text-overflow: ellipsis;
                 }
                 & .cardPera{
                     font-size: 10px;
                     letter-spacing: 1px;
                     color: $theme1;
                     opacity: 0.8;
                     display: -webkit-box;
                     -webkit-line-clamp: 1;
                     -webkit-box-orient: vertical;
                     overflow: hidden;
                     text-overflow: ellipsis;
                 }
                 & .iconarrow{
                     width: 15px;
                     height: 15px;
                 }
             }
        }

 
    
}

.heroseCtionCard{
    & .heroCard{
        border-bottom: 3px solid rgb(167, 197, 243) !important;
        &.heroCard2{
        border-bottom: 3px solid rgb(252, 234, 181) !important;
        }
        &.heroCard3{
         border-bottom: 3px solid rgb(255, 198, 204) !important;
         }
             & .cardContent{
                 & .cardIocn{
                     width: 45px;
                     height: 37px;
                 }
                 & .cardHeading{
                     font-size: 16px;
                     line-height: 19px;
                     color: $theme1;
                     transition: all 0.3s ease-in-out;
                     display: -webkit-box;
                     -webkit-line-clamp: 2;
                     -webkit-box-orient: vertical;
                     overflow: hidden;
                     text-overflow: ellipsis;
                 }
                 & .cardPera{
                     font-size: 10px;
                     letter-spacing: 1px;
                     color: $theme1;
                     opacity: 0.8;
                     display: -webkit-box;
                     -webkit-line-clamp: 1;
                     -webkit-box-orient: vertical;
                     overflow: hidden;
                     text-overflow: ellipsis;
                 }
                 & .iconarrow{
                     width: 15px;
                     height: 15px;
                 }
             }
         }
}

@include media-breakpoint(basic) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {
    .heroSection{
            & .mySwiper3{
                &:hover{
                    & .swiper-button-prev{
                
                    }
                    & .swiper-button-next{
          
                    }
                }
                & .swiper-wrapper{
                    & .swiper-slide{
           
                        &::before{
            
                            
                        }
                        & .img{
   
                            &::before{
              
                            }
                        }
                        .heroContent{
                
                            & .heroTitle{

                                
                            }
                            & .pera-text{
                   
                                
                            }
                            & .heroPera{
                           
                            }
                        }
                    }
                }
                & .swiper-button-next{
       
                    & img{
                      
                    }
                    &::after{
                     
                    }
                }
                & .swiper-button-prev{
       
                    & img{
          
                    }
                    &::after{
      
                    }
                }
            }
            & .swiper-slide {
        
                & .pera-text ,& .heroTitle {
        
                }
                & .heroPera {
     
                }
        
              .themeBtn{
     
                }
            }
        
            & .heroCard{
      
           &.heroCard2{
    
           }
           &.heroCard3{
        
            }
                & .cardContent{
                    & .cardIocn{
    
                    }
                    & .cardHeading{

                    }
                    & .cardPera{
     
                    }
                    & .iconarrow{
          
                    }
                }
            }
            
    }
}

@include media-breakpoint-down(xl) {
    .heroSection{
        & .mySwiper3{
            &:hover{
                & .swiper-button-prev{
            
                }
                & .swiper-button-next{
      
                }
            }
            & .swiper-wrapper{
                height: 420px;

                & .swiper-slide{
       
                    &::before{
        
                        
                    }
                    & .img{

                        &::before{
          
                        }
                    }
                    .heroContent{
            
                        & .heroTitle{
                            font-size: 42px;
                            line-height: 51px;
                            
                        }
                        & .pera-text{
               
                            
                        }
                        & .heroPera{
                       
                        }
                    }
                }
            }
            & .swiper-button-next{
   
                & img{
                    filter: invert(1);
                }
                &::after{
                 
                }
            }
            & .swiper-button-prev{
   
                & img{
      
                }
                &::after{
  
                }
            }
        }
        & .swiper-slide {
    
            & .pera-text ,& .heroTitle {
    
            }
            & .heroPera {
 
            }
    
          .themeBtn{
 
            }
        }
    
        & .heroCard{
  
       &.heroCard2{

       }
       &.heroCard3{
    
        }
            & .cardContent{
                & .cardIocn{

                }
                & .cardHeading{

                }
                & .cardPera{
 
                }
                & .iconarrow{
      
                }
            }
        }
        
    }
}

@include media-breakpoint-down(lg) {
    .heroSection{
        & .mySwiper3{
            &:hover{
                & .swiper-button-prev{
            
                }
                & .swiper-button-next{
      
                }
            }
            & .swiper-wrapper{
                height: 360px;

                & .swiper-slide{
       
                    &::before{
        
                        
                    }
                    & .img{

                        &::before{
          
                        }
                    }
                    .heroContent{
            
                        & .heroTitle{
                            font-size: 36px;
                            line-height: 44px;
                            
                        }
                        & .pera-text{
               
                            
                        }
                        & .heroPera{
                            font-size: 15px;
                        }
                    }
                }
            }
            & .swiper-button-next{
                width: 65px;
                height: 65px;
                & img{
                    filter: invert(1);
                }
                &::after{
                 
                }
            }
            & .swiper-button-prev{
                width: 66px;
                height: 65px;
                & img{
      
                }
                &::after{
  
                }
            }
        }
        & .swiper-slide {
    
            & .pera-text ,& .heroTitle {
    
            }
            & .heroPera {
 
            }
    
          .themeBtn{
 
            }
        }
    
        & .heroCard{
  
       &.heroCard2{

       }
       &.heroCard3{
    
        }
            & .cardContent{
                & .cardIocn{
                    width: 35px;
                    height: 31px;
                }
                & .cardHeading{
                    font-size: 13px;
                    line-height: 16px;
                }
                & .cardPera{
 
                }
                & .iconarrow{
      
                }
            }
        }
        
    }
}

@include media-breakpoint-down(md) {
    .heroSection{
        & .mySwiper3{
            &:hover{
                & .swiper-button-prev{
            
                }
                & .swiper-button-next{
      
                }
            }
            & .swiper-wrapper{
                & .swiper-slide{
       
                    &::before{
        
                        
                    }
                    & .img{

                        &::before{
          
                        }
                    }
                    .heroContent{
                        width: 75% !important;
                        left: 90px;
                        & .heroTitle{
                            font-size: 32px;
                            line-height: 39px;
                            
                        }
                        & .pera-text{
                            
                        }
                        & .heroPera{
                       
                        }
                    }
                }
            }
            & .swiper-button-next{
                opacity: 1;
                width: 50px;
                height: 50px;
                padding: 10px;
                & img{
                    filter: invert(1);
                }
                &::after{
                 
                }
            }
            & .swiper-button-prev{
                opacity: 1;
                width: 50px;
                height: 50px;
                padding: 10px;
                & img{
      
                }
                &::after{
  
                }
            }
        }
        & .swiper-slide {
    
            & .pera-text ,& .heroTitle {
    
            }
            & .heroPera {
 
            }
    
          .themeBtn{
 
            }
        }
    
        & .heroCard{
           & .card-body{
            padding: 10px !important;
           }
       &.heroCard2{

       }
       &.heroCard3{
    
        }
            & .cardContent{
                & .cardIocn{

                }
                & .cardHeading{

                }
                & .cardPera{
 
                }
                & .iconarrow{
                    width: 10px;
                    height: 10px;
                }
            }
        }
        
    }
}

@include media-breakpoint-down(sm) {
    .heroSection{
        & .mySwiper3{
            &:hover{
                & .swiper-button-prev{
            
                }
                & .swiper-button-next{
      
                }
            }
            & .swiper-wrapper{
                & .swiper-slide{
       
                    &::before{
        
                        
                    }
                    & .img{

                        &::before{
          
                        }
                    }
                    .heroContent{
                        left: 50px;
                        & .heroTitle{
                            font-size: 28px;
                            line-height: 36px;
                            
                        }
                        & .pera-text{
               
                            
                        }
                        & .heroPera{
                       
                        }
                    }
                }
            }
            & .swiper-button-next{
                display: none;
                & img{
                    filter: invert(1);
                }
                &::after{
                 
                }
            }
            & .swiper-button-prev{
                display: none;
                & img{
      
                }
                &::after{
  
                }
            }
        }
        & .swiper-slide {
    
            & .pera-text ,& .heroTitle {
    
            }
            & .heroPera {
 
            }
    
          .themeBtn{
 
            }
        }
    
        & .heroCard{
  
       &.heroCard2{

       }
       &.heroCard3{
    
        }
            & .cardContent{
                & .cardIocn{

                }
                & .cardHeading{

                }
                & .cardPera{
 
                }
                & .iconarrow{
      
                }
            }
        }
        
    }
}

// dealSection start 
.dealSection{
    & .mainCard{
        border: 2px solid $theme1;
        border-radius: 10px;
        padding: 30px;
        position: relative;
        margin-left: 20px;
        transition: all 0.3s ease-in-out;
        &:hover{
            & .navBtn2{
                opacity: 1;
                visibility: visible;
            }
        }
        & .counterImg{
            // width: 60px;
            height: 60px;
        }
        & .counterHeading{
            font-size: 25px;
            line-height: 30px;
            font-weight: 600;
            color: $theme1;
        }
        & .counterWatch{
            font-size: 20px;
            font-weight: 400;
            color: $theme1;
            position: relative;
            &::before{
                content: '';
                height: 31px;
                width: 2px;
                background-color: $theme1;
                position: absolute;
                top: 0px;
                left: -20px;
            }
            & .smallheading{
                font-size: 14px;
                color: $theme1;
            }
        }
        & .seeAllBtn{
            font-size: 16px;
            color: $theme1;
            font-weight: 500;
        }
        & .navBtn2{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            z-index: 11;
            width: 100%;
            transition: all 0.3s ease-in-out;
            & .navBtn{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                // background-color: $white;
                padding: 10px;
                background: #f6f8f9;
                box-shadow: 0px 2.18667px 9.29333px rgba(0,0,0,.13);
                transition: all 0.3s ease-in-out;
                &:hover{

                    &.navPrev{
                        background-color: $theme1;
                        & img{
                            filter: invert(1);
                        }
                    }
                    &.navNext{
                        background-color: $theme1;
                        & img{
                            filter: invert(1);
                        }
                    }
                }
                &.navPrev{
                    display: flex !important;
                    margin-left: -53px;
                    transition: all 0.3s ease-in-out;
                    & img{
                        transition: all 0.3s ease-in-out;
                    }
                }
                &.navNext{
                    display: flex !important;

                    transition: all 0.3s ease-in-out;
                    & img{
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

        }

    }
    & .sideNav{
        background-color: #f4fafa;
        padding: 30px;
        border-radius: 10px;
        & .sideNavheading{
            font-size: 25px;
            line-height: 35px;
            color: $black;
            font-weight: 700;
        }
        & .orderProcess{
          
            & .number{
                height: 45px;
                width: 45px;
                border-radius: 50%;
                border: 2px solid $black;
                font-size: 18px;
                color:$black;
                font-weight: 400;
                background-color: #f4fafa;

                position: relative;
                &.borderDoted{
                    &::after{
                        height: 28px;
                        width: 2px;
                        content: '';
                        background: url(../img/index/border-img.svg) center repeat;
                        position: absolute;
                        top: 43px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                }
              
            }
            & .orderHeading{
                font-size: 14px;
                font-weight: 600;
                color: $black;
                margin-bottom: 2px;
            }
            & .orderPera{
                font-size: 12px;
                color: #959fae;
            }
        }
        & .innerHeading{
            font-size: 16px;
            color: $theme1;
            font-weight: 600;
        }
        & .pera{
            color: #959fae;
            line-height: 22px;
            margin-bottom: 0;
        }
    }
}

// dealSection end 


.productCard{
    // border: 1px solid $black;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0,0,0,.19), 0 0px 1px rgba(0,0,0,.23);
    &:hover{
        & .cardIMg{
            transform: scale(1.1);
        }
        & .addCartBtn{
            transform: translate(0);
            opacity: 1;
        }
        & .addCard{
        overflow: hidden;
            & .heartImg{
                visibility: visible;
                opacity: 1;
                transform: translate(0) !important;
            }
        }
        & .cardContent{
            & .cardheading{
                color: $theme1;
            }

        }
    }
    & .offerBuddge{
        display: inline-block;
        vertical-align: top;
        color: #2b97a3;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        height: 20px;
        left: 2px;
        top: 2px;
        background-color: #d5eaed;
        border-radius: 2px;
        position: absolute;
        right: auto;
        padding: 0 13px;
    }
    & .cardIMg{
      & img{
        aspect-ratio: 1/1;
        object-fit: contain;
      }
        transition: all 0.5s ease-in-out;
    }
    & .cardContent{
        padding: 20px;

        & .cardSubheading{
            font-size: 12px;
            color: #959fae;
            transition: all 0.3 ease-in-out ;
            &:hover{
                color: $theme1;
            }
        }
        & .cardheading{
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: $black;
            transition: all 0.3S ease-in-out;
            &:hover{
                color: $theme1;
            }
        }
        & .priceSection{
            font-size: 18px;
            font-weight: 500;
            color: $black;
            & .oldprice{
                font-size: 13px;
                color: $red;
            }
        }
    }
    & .addCard{
        position: absolute;
        top: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .heartImg{
            transition: all .5s ease-in;
            opacity: 0;
            transform: translateX(60px);
            background-color: #f8f8f8;
            height: 40px;
            width: 40px;
            padding: 10px;
            border-radius: 5px;
            border-radius: 5px 0px 0px 5px;
            overflow: hidden;
            visibility: hidden;
            z-index: 999;

            & img{
            transition: all .5s ease-in-out;

            }
            &:hover{
                background-color: $theme1;
                & img{

                    filter: invert(1);
                }
            }
        }
    }
}